MONGODB_URI=
JWT_SECRET=rush_merchant_jwt_secret_key_2026
JWT_REFRESH_SECRET=rush_merchant_refresh_secret_key_2026
BREVO_API_KEY=
OPAY_API_KEY=
PAYSTACK_SECRET_KEY=
VITE_PAYSTACK_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
VITE_API_URL=
BACKEND_URL=
